html {
    font-family: "Helvetica";
    text-align: center;
}

@-webkit-keyframes FADE_IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes FADE_IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes FADE_IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes FADE_IN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.appAll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-image: url("./devin-avery.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    display: block;
    overflow: auto;
    -webkit-animation: FADE_IN 1s linear;
    /* Safari 4+ */
    -moz-animation: FADE_IN 1s linear;
    /* Fx 5+ */
    -o-animation: FADE_IN 1s linear;
    /* Opera 12+ */
    animation: FADE_IN 1s linear;
    /* IE 10+, Fx 29+ */
}

}

#appName {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

h1 {
    font-size: 50px;
    letter-spacing: 6px;
    color: white;
    margin-top:12px;
}

h3 {
    color: rgba(0, 0, 0, 0.4);
    margin-top: -24px;
    letter-spacing: 2px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

button {
    margin-top: 16px;
    height: 60px;
    width: 130px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    color: gray;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing:2px;
    text-decoration: none;
    border: .5px gray solid;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
}

button:active {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0);
    transition: .2s linear;
}

button:focus {
    outline: 0;
}